<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser" [nzSize]="'large'">
                <input type="text" nz-input formControlName="username" placeholder="用户名" required />
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('username')?.dirty && loginForm.get('username')?.errors">
                <ng-container *ngIf="loginForm.get('username')?.hasError('required')">
                    请输入用户名
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock" [nzSize]="'large'">
                <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
                <ng-container *ngIf="loginForm.get('password')?.hasError('required')">
                    请输入密码
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
        <nz-form-control [nzSpan]="12">
            <nz-input-group [nzSize]="'large'">
                <input type="captcha" nz-input formControlName="captcha" placeholder="验证码" />
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('captcha')?.dirty && loginForm.get('captcha')?.errors">
                <ng-container *ngIf="loginForm.get('captcha')?.hasError('required')">
                    请输入验证码
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-control [nzSpan]="12">
            <img style="margin-left:20px;" src="/admin/captcha?width=100&height=38" (click)="refreshCaptcha($event)" />
        </nz-form-control>
    </nz-form-item> -->
    <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="24">
            <label nz-checkbox formControlName="remember">
                <span>记住我</span>
            </label>
        </div>
    </div>
    <nz-form-item>
        <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'">登 录</button>
        </nz-form-control>
    </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>